<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAVEPATH.ORG|UPLOAD-SECTION</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <div id="verticlenavbar">
            <div id="logo">
                <img src = "lighthouselogo.png" width = "200px">
            </div>
            <div id="home">
                <a href="/">Home</a>
            </div>
            <div id="NEWS">
                <a href="/images">NEWS</a>
            </div>
            <!-- <div id="forum">
                <a href="#">Forum</a>
            </div> -->
            <div id="profile">
                <a href="/log-in">Profile</a>
            </div>
        </div>
    </header>
<content>
   <form action="/upload" method="post" enctype="multipart/form-data"  >
    <div id="upload">
      
        <div id="uploadpic">
                <div id="para">
                    <p><input type = "file" style = font-size:medium>
                        <br>
                        <br>
                    <a href="/upload"><input type = "button" value ="Upload" style = background-color:black;color:white;border:none;border-radius:5px;font-size:medium;padding:10px></a>
                    </p>
                </div>
        </div>
       
    </div>
   </form>
    <div id="settingsnsupport">
        <!-- <div id="settings">
            <a href="#">Settings</a>
        </div>
        <div id="support">
            <a href="#">Support</a>
        </div> -->
        
    </div>
</content>
</body>
</html>