<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAVEPATH.ORG</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div id="parent">
    <div id="image">

    </div>
   

  </div>
  <div id="child">
    <div id="uploadP">
      <a href="/upload" style=text-decoration:none;color:white;font-family:sans-serif>
        <div id="uploadC">Upload
        </div>
      </a>
    </div>
    <div id="newsP">
      <a href="/images" style=text-decoration:none;color:white;font-family:sans-serif>
        <div id="newsC">News
        </div>
      </a>
    </div>
    <div id="accountP">
      <a href="/log-in" style=text-decoration:none;color:white;font-family:sans-serif>
        <div id="accountC">Account
        </div>
      </a>
    </div>
  </div>
  <footer>
    <div id="footer">
      <div id="copyright">PAVEPATH.ORG</div>
    </div>
  </footer>
</body>

</html>